In [9]:
# Q1. Create one variable containing following type of data:
# (i) string
# (ii) list
# (iii) float
# (iv) tuple

In [1]:
# string
A= "Shivangi"
print (type(A))

<class 'str'>

In [2]:
# list
B = ["shivangi",23,45.76,True,4+6j]
print (type(B))

<class 'list'>

In [3]:
# float
C = 54.65
print (type(C))

<class 'float'>

In [4]:
#  tuple
D = ("shivangi",23,45.76,True,4+6j)
print (type(D))

<class 'tuple'>

In [11]:
# Q2. Given are some following variables containing data:
# (i) var1 = ‘ ‘
# (ii) var2 = ‘[ DS , ML , Python]’
# (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
# (iv) var4 = 1.
# What will be the data type of the above given variable.

In [18]:
var1 = ''
print (type(var1))
# This is String Datatype

<class 'str'>

In [19]:
var2 = '[ DS , ML , Python]'
print (type(var2))
#This is String Datatype

<class 'str'>

In [20]:
var3 = [ 'DS' , 'ML', 'Python']
print (type(var3))
#This is List Datatype

<class 'list'>

In [25]:
var4 = 1.
print (type(var4))
#This is float Datatype

<class 'float'>

In [26]:
# Q3. Explain the use of the following operators using an example:
# (i) /
# (ii) %
# (iii) //
# (iv) **

In [31]:
(i) / - Division
This operator is for division of two operands. this divides the first operand by the second
example - 
E = 43
F = 3
G =E/F
print (G)

14.333333333333334

In [33]:
(ii) % -Modulus
This is Modulus,This returns the remainder when the first operand is divided by the second
example
H = 35%3
print (H)

2

In [38]:
(iii) // -Division(floor)
This gives the round off of the reminder , The quotient returned by this operator is dependent on the argument being passed ,if you pass float then output will be in float or if you give integer then output will be in integer
example
print (3.0//2)
print (5//2)

1.0
2

In [40]:
(iv) ** -Exponential
This Returns first raised to power second.ex -2**3 =2*2*2 =8
example
print (2**3)

8

In [42]:
# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
# element and its data type.

In [45]:
list1 =["shivangi",1,10.04,True,5+7j,"sahu",45,False,67.87,6+5j]
print ("Length of list is", len(list1))
for i in list1 :
    print (i,(type(i)))

Length of list is 10
shivangi <class 'str'>
1 <class 'int'>
10.04 <class 'float'>
True <class 'bool'>
(5+7j) <class 'complex'>
sahu <class 'str'>
45 <class 'int'>
False <class 'bool'>
67.87 <class 'float'>
(6+5j) <class 'complex'>

In [46]:
# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
# times it can be divisible.

In [51]:
a=int(input())
b=int(input())
c=0
while a%b==0:
    c= c+1
    print(c,"times ", int(a),"is divisible by number",b)
    a= a/b

 123456
 2

1 times  123456 is divisible by number 2
2 times  61728 is divisible by number 2
3 times  30864 is divisible by number 2
4 times  15432 is divisible by number 2
5 times  7716 is divisible by number 2
6 times  3858 is divisible by number 2

In [52]:
# Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
# divisible by 3 or not.

In [54]:
listn =[2,5,3,2,3,4,5,56,5,876,778,76,6,6,54,3,23,78,89,9,87,80,70,6,356]
for i in listn:
    if i%3==0 :  
        print(i,"it is divisible by 3")

3 it is divisible by 3
3 it is divisible by 3
876 it is divisible by 3
6 it is divisible by 3
6 it is divisible by 3
54 it is divisible by 3
3 it is divisible by 3
78 it is divisible by 3
9 it is divisible by 3
87 it is divisible by 3
6 it is divisible by 3

In [55]:
# Q7. What do you understand about mutable and immutable data types? Give examples for both showing
# this property.

In [ ]:
Mutable data =This types of data allow you to change their value or data, such as list, sets, and dictionary.
mutable_list = ["Shivangi",20, 56.76,"sahu",True]
mutable_list[3]= "Gupta"
mutable_list[4] = "False"
print(mutable_list)

Immutable data =This types of data don't allow this kind of operation, and you can only create new objects with different values, such as int, float, string, and tuple.
immut_str = ("shi","Nitin","Anmol","Bittu","Harsh")
immut_str[3] = "harshita"
print(immut_str)